<div class="email-list">
  <span><strong>Emails recents</strong></span>
  <ul>
  <% Email.all.sort_by { |email| email.id }.each do |email| %>
    <li id="<%= email.id %>" class="<%=email.read ? "read" : ""%>">
      <%= email.object %>
    </li>
  <% end %>
  </ul>
</div>