<div class="container">
<%= render 'email_list' %>
<%= render 'email_view' %>
<div>
<ul>
  <li id="read-all">
    Marquer tout comme lu
  </li>
  <li id="read-none">
    Marquer tout comme non lu
  </li>
</ul>
</div>
</div>